h1 {
    display: inline;
    text-align: center;
    color: black;
    background-color: rgb(255, 208, 0);
    padding: 0.5%;
    border: 2px solid;
    border-radius: 2px;
}

h2 {
    display: inline;
    text-align: center;
    color: black;
    background-color: rgb(255, 208, 0);
    padding: 0.5%;
    border: 2px solid;
    border-radius: 2px;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

p {
    text-align: center;
}

body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background: grey
}


#left {
    float: left;
    width: 30%;
}

#left-75 {
    float: left;
    width: 75%;
}

#center {
    display: inline-block;
    width: 30%;
}

#right {
    float: right;
    width: 30%;
}

#right-15 {
    float: right;
    width: 15%;
}

#voices-select {
    padding: 8px;
    font-size: 14px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

#voices-select:hover {
    border-color: #2070a0;
}

#voices-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#voices-select option {
    background-color: #ffffff;
    color: #333333;
}

#sentence {
    width: 95%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#vocab-search {
    width: 75%;
}

#generated-search {
    width: 75%;
}

#category-search {
    width: 75%;
}

#unsayable-div {
    display: inline-block;
    padding: 0.5%;
    color: red;
}

#num-words {
    width: 50px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#generate {
    background-color: #4a4a4a;
    color: #ffffff;
    border: 2px solid #8c8c8c;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#generate:hover {
    background-color: #8c8c8c;
    color: #000000;
}

#generate-random {
    background-color: #4a4a4a;
    color: #ffffff;
    border: 2px solid #8c8c8c;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#generate-random:hover {
    background-color: #8c8c8c;
    color: #000000;
}

#clear-sentence {
    padding: 1px 1px;
}

#clear-button-container {
    text-align: right;
}

#copy-to-clipboard {
    background-color: #4a4a4a;
    color: #ffffff;
    border: 2px solid #8c8c8c;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#copy-to-clipboard:hover {
    background-color: #8c8c8c;
    color: #000000;
}

#generated-list button {
    font-size: 12px;
    background-color: #4a4a4a;
    color: #ffffff;
    border: 2px solid #8c8c8c;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}


#generated-list button:hover {
    background-color: #8c8c8c;
    color: #000000;
}

#audio-link {
    color: #0004ff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

#audio-link:hover {
    color: #2070a0;
}

.button {
    background-color: darkgray;
    border: none;
    border-radius: 2px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.searchlist {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    justify-content: center;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 10px;
}

.searchelement {
    background-color: #000000;
    padding: 1px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(15, 223, 60);
    display: block;
}

.searchelement button {
    background-color: #4a4a4a;
    color: #ffffff;
    border: 1px solid rgb(255, 208, 0);
    padding: 5px 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: lowercase;
    /* Set the default text transformation to lowercase */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.searchelement button:hover {
    background-color: rgb(255, 208, 0);
    /* Light gray background on hover */
    color: #000000;
    border: 1px solid #8c8c8c;
    /* Black text on hover */

}

.column {
    background-color: #f0f0f0;
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
}

.button:hover {
    background-color: rgb(255, 208, 0);
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}